body {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/onlyfits-1ba90.appspot.com/o/photo_2024-05-15_16-49-04.jpg?alt=media&token=cd1aa805-3f82-4f8a-98ee-9141d23beb9d');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Arial', sans-serif;
}

#general {
  display: flex;
}

.programs-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  /* width: fit-content; */
  flex-wrap: wrap; /* Добавлено для переноса элементов на следующую строку */
  justify-content: center;
  gap: 10px; /* Добавлен отступ между блоками */
  margin: auto; /* Центрирование контейнера */
  width: 1300px;
  height: 950px;
  background-color:rgb(26, 26,26, 0.5);
  padding: 30px;
  border-radius: 8px
}

.eachProgram {
  margin: auto;
  border-radius: 10px;
  border: solid gray 2px;
  width: 300px;
}

#programs-filters-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Отступ между элементами */
  color: white;
  margin-bottom: 25px;
}

.card-info {
  width: 340px;
  text-align: center;
  color: white;
  font-family: none;
}

.ant-card-body {
  background-color: rgb(12, 7, 7);
}

.add-prog-btn {
  background-color: rgb(255, 105, 5);
  color: black;
  font-weight: 600;
  border: solid 1px black;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.card {
  transition: 0.9s;
  opacity: 0.89;
}

.card:hover{
  transition: 0.5s;
  opacity: 1;
  transform: scale(1.1); /* Enlarge by 20% */
  border:solid, 2px, rgb(255, 105, 5);
  z-index: 1000

}

#search-btn {
  background-color: rgb(255, 105, 5);
  color: black;
  font-weight: 600;
  border: solid 1px black;
  height: 40px;
  border-radius: 6px;
  padding: 4px 15px;
  font-size: larger;
  width: 165px;
}


h2,
h3,
h4,
p {
  color: #ffffff;
  /* font-family: 'Arial', sans-serif; */
  font-family: "Bebas Neue", sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
}