.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main-page-container {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  background-color: black;
  text-align: center;
  letter-spacing: 2px;
  color: #FFAF79;
  padding-top: 10px;
  margin-bottom: 20px;
  /* position: fixed; */
}

.header-container {
  width: 95%;
}

.header-content {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

#header-container {
  background-color: rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 10px;
  list-style-type: none;
}

#header-container li {
  color: #ffffff;
  display: inline;
  margin: 0 10px;
}

.authenticated {
  background-color: rgba(0, 0, 0, 0.25);
}

.unauthenticated {
  background-color: rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 10px;
  list-style-type: none;
}

.unauthenticated li {
  color: #ffffff;
  display: inline;
  margin: 0 10px;
}

.authenticated a,
.unauthenticated a {
  color: white;
  text-decoration: none;
  /* font-family: "Open Sans", Sans-serif; */
  font-family: "Bebas Neue", sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 2px;
}

.authenticated a:active,
.unauthenticated a:active {
  color: #ffaf79;
}

.active-link {
  color: #FF6600;
}

.authenticated a:hover,
.unauthenticated a:hover {
  color: #FF6600;
  text-decoration: underline
}

h5 {
  color: #FF6600;
  /* font-family: "Open Sans", Sans-serif; */
  font-family: "Bebas Neue", sans-serif;
  font-size: 27px;
  font-weight:bold;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 4px;
}


.btn-logout {
  /* background-color: #FF6600; */
  background: linear-gradient(90deg, #ff6f00, #ffa500);
  /* display: flex; */
  align-items: center;
  color: #333333;
  border: none;
  padding: 10px 20px;
  font-size: 22px;
  letter-spacing: 2px;
  font-family: "Bebas Neue", sans-serif;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
  transform: skewX(-10deg);

  font-weight: bold;
  text-transform: uppercase;
  transition: background 0.3s ease;
}

.btn-logout:hover {
  /* background-color: white; */
  background: linear-gradient(90deg, #ffa500, #ff6f00);
}

.logo-header img {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 175px;
}

.header-content p {
  color: black;
}