.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/onlyfits-1ba90.appspot.com/o/photo_2024-05-15_16-49-04.jpg?alt=media&token=cd1aa805-3f82-4f8a-98ee-9141d23beb9d');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: relative;
  background-attachment: fixed;
  font-family: "Bebas Neue", sans-serif;
}

#profile-page-container {
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  margin: 10px 20px;
  border-radius: 8px;
  background-color: rgba(26, 26, 26, 0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border: 2px solid #ffa500;
  
}

.profile-block {
  display: flex;
  justify-content: space-around;
  /* flex: 0 0 calc(33.33% - 20px); Ширина блока - 33.33% с учетом отступов между блоками */
  /* margin-bottom: 20px; Отступ между строками */
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  flex-direction: column;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border: 2px solid #ffa500;
  flex: 1;
  min-width: 450px;
  /* max-width: 2500px; */
}

.profile-block h2 {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 25px;
}

.profile-block h3 {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 25px;
}

.currentGoal {
  color: #ffa500;
}

.text-styles{
  color: #ffffff;
  /* font-family: 'Arial', sans-serif; */
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
}

.calculatorPage__result {
  background-color: #333333;
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
}

.calculatorPage__result:hover {
  scale: 1.01;
  transition: 0.5s;
  border: #ffa500 solid 1px;
}

.calculatorPage__macros {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
}

#exercise-schedule {
  margin-top: 20px;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
}

#exercise-schedule label {
  display: block;
  margin-bottom: 10px;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
}

#all-picked-program-container {
  margin-top: 20px;
  width: 100%;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
}

.picked-program-container {
  background-color: #333333;
  padding: 10px;
  border-radius: 8px;
  /* margin-bottom: 10px; */
  width: 85%;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
}

.program-radio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
  margin-top: 0px;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
}

.modal-style .ant-modal-content {
  background-color: #1a1a1a;
  color: #ffffff;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
}

.modal-style .ant-modal-footer {
  background-color: rgb(26, 26, 26);
  color: white;
  box-shadow: none;
  display: flex;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
}

.ant-btn {
  display: flex;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
}

.modal-style .ant-modal-footer .ant-btn-primary {
  background: linear-gradient(90deg, #ff6f00, #ffa500);
  border: none;
  display: flex;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
}

.modal-style .ant-modal-footer .ant-btn-primary:hover {
  background: linear-gradient(90deg, #ffa500, #ff6f00);
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
}

.button-primary {
  background: linear-gradient(90deg, #ff6f00, #ffa500);
  border: none;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 20px;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 3px;
}

.button-primary:hover {
  background: linear-gradient(90deg, #ffa500, #ff6f00);
}

.button-primary:focus {
  background: linear-gradient(90deg, #ff6f00, #ffa500);
  color: #ffffff;
}


/* Стили для выбора кол-ва занятий в неделю */
.schedule-selector {
  display: flex;
  gap: 10px;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
}

.schedule-button {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid rgb(51, 51, 51);
  border-radius: 5px;
  background-color: rgb(51, 51, 51);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
}

.schedule-button.selected {
  background-color: #ffa500;
  border-color: #ffa500;
}

.schedule-button input {
  display: none;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
}

/* Стили для выбранного занятия */
.program-selector {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
}

.program-radio {
  display: flex;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
}

.program-button {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid rgb(51, 51, 51);
  border-radius: 5px;
  background-color: rgb(51, 51, 51);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  width: 100%;
  text-align: left;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
}

.program-button.selected {
  background-color: #ffa500;
  border-color: #ffa500;
}

.program-button input {
  display: none;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
}

.picked-program-container a {
  text-decoration: none;
  color: inherit;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
}

.picked-program-container h3,
.picked-program-container h4 {
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
}